html {
    font-family: sans-serif;
}
.content {
    padding: 1rem;
}

form label {
    display: inline-block;
    font-size: 80%;
    min-width: 6rem;
    margin-bottom: 1rem;
}

.login input {
    display: inline-block;
    min-width: 10rem;
}

button {
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    background: #2299ff;
    border: 0;
    cursor: pointer;
}

.button-blocker {
    background: grey;
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 0;
}

#flash-message {
    margin-top: 1rem;
    color: #ff0000;
    font-size: 80%;
}

#search-result {
    margin-top: 1rem;
}

#spinner {
    margin-top: 1rem;
}

#parent #popup {
    display: none;
    padding: 1rem;
}

#parent:hover #popup {
    background: red;
    display: block;
    padding: 1rem;
}
